
/*.containerGame{*/
/*    margin: 0 auto;*/
/*}*/
/*.gameGrid{*/
/*    display: flex;*/
/*    flex-wrap: nowrap;*/
/*    text-align: center;*/
/*    justify-content: center;*/
/*}*/

/*.cell{*/
/*    font-size: 4vw;*/
/*    height: 20vw;*/
/*    width: 20vw;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    transition-duration: 0.1s;*/
/*    transition-timing-function: linear;*/
/*    background-color: #f1e8ba;*/
/*}*/


.cell{
  font-size: 30px;
        height: 20vw;
        width: 20vw;
    max-width: 120px;
    max-height: 120px;

    display: inline-block;
    transition-duration: 0.1s;
    transition-timing-function: linear;
    background-color: #282c34;
}

.cellValue0{
    background-color: rgb(205,193,180);
}

.cellValue2{
    background-color: rgb(238,228,218);
}

.cellValue4{
    background-color: rgb(238,225,201);
}

.cellValue8{
    background-color: rgb(243,178,122);
}

.cellValue16{
    background-color: rgb(246,150,100);
}

.cellValue32{
    background-color: rgb(247,124,95);
}

.cellValue64{
    background-color: rgb(247,95,59);
}

.cellValue128{
    background-color: rgb(237,208,115);
}
.cellValue256{
    background-color: rgb(175, 86, 2);
}
.cellValue512{
    background-color: rgb(224, 203, 166);
}
.cellValue1024{
    background-color: rgb(234, 239, 75);
}
.cellValue2048{
    background-color: rgb(255, 174, 7);
}
.cellValue4096{
    background-color: rgb(255, 0, 0);
}